{% extends 'base.html' %}

{% block content %}
  {% for post in posts %}
    <div class="post-entry">
      <h2><a href={% url 'detail' post.pk %}>{{ post.title }}</a></h2>
      <p>{{ post.body }}</p>
    </div>
  {% endfor %}
{% endblock content %}
{% block login %}
    {% for post in posts %}
        {% if post.chek is True %}
            <div class="post-entry">
              <h2><a href={% url 'detail' post.pk %}>{{ post.title }}</a></h2>
              <p>{{ post.body }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
